/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/
/* Common styles */
@import url('./reset.css');
@import url('./base.css');
@import url('./container.css');
@import url('./animations.css');

/* Sections style */
@import url('./header.css');
@import url('./badges.css');




ul, ol {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  list-style: none;
  padding: 0;
  justify-content: center;
}


.gallery img {
  display: block;
  width: 360px;
  height: 200px;
  object-fit: cover;
}


.container-form {
  display: flex;
  padding: 24px;
  flex-direction: column;
  align-items: center;
}

.feedback-form {
  
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
    max-width: 360px;
    width: 100%;
    margin: 0 auto;
}

.feedback-form input,
.feedback-form textarea  {
width: 360px;
}

.submit-btn {
display: flex;
border-radius: 8px;
padding: 8px 16px;
min-width: 95px;
height: 40px;
border: transparent;
font-weight: 500;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.04em;
color: #fff;
background-color: #4e75ff;
justify-content: flex-start;
}
